version: "3.2"

services:
  importer-api:
    build:
      args:
        NODE_ENV: "development"
    env_file:
      - importer-api/.env
    environment:
      REDIS_URI: //importer-redis:6380
      NATS_TOKEN: dev
      SONIC: 0
      # LOG_HOST: host.docker.internal
      # LOG_HOSTNAME: sis-importer-api
      # LOG_PORT: 9501
    command: "npm run start:dev"
    volumes:
      - ./importer-api:/usr/src/app

  importer-mankeli:
    build:
      args:
        NODE_ENV: "development"
    env_file:
      - importer-api/.env
    environment:
      REDIS_URI: //importer-redis:6380
      NATS_TOKEN: dev
      DB_USERNAME: dev
      DB_PASSWORD: dev
    command: "npm run start:dev"
    volumes:
      - ./importer-mankeli:/usr/src/app
    ports:
      - 3002:3002 # explorer at http://localhost:3002/

  importer-db:
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: importer-db
    networks:
      - oodikone_default
      - default

  importer-nats:
    ports:
      - 8223:8222 # Monitoring at http://localhost:8223/

  importer-nats-streaming-console:
    image: mozgoo/nats-streaming-console:latest
    environment:
      - STAN_URL=importer-nats://importer-nats:4223
      - STAN_MONITOR_URL=http://importer-nats:8222
    container_name: sis-nats-streaming-console
    ports:
      - 8282:8282 # http://localhost:8282/

  importer-adminer:
    image: adminer:4.7.5
    environment:
      - ADMINER_DESIGN=pepa-linha
      - ADMINER_DEFAULT_SERVER=importer-db
    ports:
      - 5051:8080 # http://localhost:5051/?pgsql=importer-db&username=dev&db=importer-db&ns=public
    container_name: importer-adminer
    restart: unless-stopped

networks:
  oodikone_default:
    external: true
