name: importer-mankeli-production

on:
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Run tests
        uses: ./.github/actions/run-tests
        with:
          path: importer-mankeli

  build-and-push:
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - uses: actions/checkout@v6
      - name: Build and push image
        uses: ./.github/actions/build-and-push-image
        with:
          image: importer-mankeli
          tag: production
          password: ${{ secrets.QUAY_IO_TOKEN }}
